@model Human_Resources_Management.ENTITIES.Entities.Expenses

@{
    ViewData["Title"] = "Approval";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<body style="background-color: #f2edf3 ">
    <div class="row justify-content-md-center mt-5"  >
        <div class="col-md-4">
            <form asp-action="Approval" style="margin-top:10%;" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SpendingRequestDate" class="control-label"><b>Harcama Talep Tarihi</b></label>
                    <input asp-for="SpendingRequestDate" class="form-control" />
                    <span asp-validation-for="SpendingRequestDate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="SpendingResponseDate" class="control-label"></label>
                    <input asp-for="SpendingResponseDate" class="form-control" />
                    <span asp-validation-for="SpendingResponseDate" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Spending" class="control-label"><b>Harcama Tutarı</b></label>
                    <input asp-for="Spending" class="form-control" />
                    <span asp-validation-for="Spending" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SpendingType" class="control-label"><b>Harcama Türü</b></label>
                    <select asp-for="SpendingType" asp-items="@Html.GetEnumSelectList<SpendingType>()" class="form-control"> </select>
                    <span asp-validation-for="SpendingType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceUnit" class="control-label"><b>Para Birimi</b></label>
                    <select asp-for="PriceUnit" asp-items="@Html.GetEnumSelectList<PriceUnit>()" class="form-control"> </select>
                    <span asp-validation-for="PriceUnit" class="text-danger"></span>
                </div>
                <div class="form-group" >
                    <label asp-for="AproveStatus" class="control-label"><b>Harcama Onay Durumu</b></label><br />
                    <select style="width:100%" asp-for="AproveStatus">             
                        <option value="@AproveStatus.Onaylandi">Onay Ver</option>
                        <option value="@AproveStatus.Onaylanmadi">Reddet</option>
                    </select>
                   
                    <span asp-validation-for="AproveStatus" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input type="hidden" asp-for="PersonID" class="form-control" />

                </div>
                <div class="form-group">

                    <input type="hidden" asp-for="ID" class="form-control" />

                </div>
                @*<div class="form-group">
                    <label asp-for="PhotoName" class="control-label"></label>
                    <input asp-for="PhotoName" class="form-control" />
                    <span asp-validation-for="PhotoName" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>*@
            <div class="form-group">
                <input asp-route-id="@Context.User.FindFirst("ID").Value.ToString()" type="submit" value="Kaydet" class="btn  ml-3" style=" color: white; background-color: #478ba2; border-radius: 40px; width: 150px;margin-left:10%" />
                <a class="btn" style="color: white; background-color: #478ba2;  border-radius: 40px; width: 150px; margin-left:2%" asp-action="GetSpendingList"  asp-route-id="@Context.User.FindFirst("ID").Value.ToString()">Geri Dön</a>
            </div>
            </form>
        </div>
    </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
