
@model Human_Resources_Management.ENTITIES.ViewModel.GeneralViewModel

@{

    Layout = "_Layout";

}

<!-- ===== Hero Start ===== -->

<section class="gj do ir hj sp jr i pg">

    <!-- Hero Images -->

    <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r " style="margin-top:150px; margin-right:100px">

        @*<img src="~/images/shape-01.svg" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />

            <img src="~/images/shape-02.svg" alt="shape" class="xc 2xl:ud-block h u p va" />

            <img src="~/images/shape-03.svg" alt="shape" class="xc 2xl:ud-block h v w va" />

            <img src="~/images/shape-04.svg" alt="shape" class="h q r" />*@

        @*<img src="~/images/hero.png" alt="Woman" class="h q r ua w-100" />*@

        <img style="width: 800px; height: 550px;" src="~/images/banner-2.png" />

    </div>



    <!-- Hero Content -->

    <div class="bb ze ki xn 2xl:ud-px-0">

        <div class="tc _o">

            <div class="animate_left jn/2 ">

                <img src="~/I_am_Here.png" />
                @*<img src="https://kolayik.com/wp-content/uploads/2020/02/10.svg" alt="" ?="">*@

                <h1 class="mt-5">İLE KAYNAKLARINIZI KOLAYCA YÖNETİN.</h1>

                <p class="fq">

                    i'mhere; şirketlerin en doğru, en kolay ve en hızlı şekilde personel yönetimini sağlamak ve personellerin de pratik bir şekilde İK birimine ulaşmasını sağlamak amacıyla geliştirilmiştir.
                </p>

                <div class="tc tf yo zf mb">

                    <a href="#items" class="lk gh dk rg tc wf xf _l gi hi btn btn-info " style="border-radius:40px">Siz de buraya gelin!</a>

                    <span class="tc sf">

                        <a href="#" class="inline-block ek xj kk wm"> Ya da Bizi Arayın: (0123) 456 – 789 </a>

                        @*<span class="inline-block">For any question or concern</span>*@

                    </span>

                </div>

            </div>

        </div>

    </div>

</section>
<section class="text-center ">
    <div class="text-center">
        <h1><b>Personel yönetimini kolayca halledin</b></h1>
        <br />
        <br />
        <img class="mx-auto d-block" style="width:550px;" class="align-items-center" src="https://kolayik.com/wp-content/themes/kolay-ik-theme/assets/img/background/personel-illustration.svg" alt="">

    </div>
    <br />
    <br />
    <br />
    <div class="bb ze ki yn 2xl:ud-px-12.5">

        <div class="tc uf zo xf ap zf bp col-md-12 p-3" style="margin-right:50px;">

            <div class="col-md-4">

                <div>

                    <img src="https://kolayik.com/wp-content/uploads/2020/02/2-e1582901605863.png" alt="" ?="">

                </div>

                <div>

                    <h4 class="ek yj go kk wm xb">İzin ve mesaileri online yönetin</h4>

                    <p>İzin ve mesaileri online sistem üzerinden yönetin. Her çalışanın kendine ait bir hesabı olsun, izin talep edebilsin, mesailerini takip edebilsin.</p>

                </div>

            </div>

            <div class="col-md-4">

                <div>

                    <img src="https://kolayik.com/wp-content/uploads/2020/02/3-1.svg" alt="" ?="">

                </div>

                <div>

                    <h4 class="ek yj go kk wm xb">Harcama, prim ve avansları takip edin</h4>
                    <p>Çalışana dair tüm ödemeleri; harcama, avans, prim ve ikramiyeleri online takip edin, harcamaların kontrolü sizde olsun.</p>

                </div>

            </div>

            <div class="col-md-4">

                <div>

                    <img src="https://kolayik.com/wp-content/uploads/2020/02/8.svg" alt="" ?="">

                </div>

                <div>

                    <h4 class="ek yj go kk wm xb">Şirket takvimini yönetin</h4>
                    <p>Toplantılar, yemekler, davetler ve eğitimler... Kısaca şirketinize dair ve çalışanları ilgilendiren her ne varsa bunları takvime ekleyerek herkese görünür kılabilirsiniz.</p>

                </div>

            </div>

        </div>

    </div>

    <br />
    <br />
    <br />
    <div class="text-center">
        <h1><b>Çalışanların performansını değerlendirin</b></h1>
        <br />
        <br />
        <img class="mx-auto d-block" style="width:450px;" src="https://kolayik.com/wp-content/themes/kolay-ik-theme/assets/img/background/performans-illustration.svg" alt="">
    </div>
    <br />
    <br />
    <br />
    <div class="bb ze ki yn 2xl:ud-px-12.5">

        <div class="tc uf zo xf ap zf bp col-md-12 p-3" style="margin-right:50px;">

            <div class="col-md-4">

                <div>

                    <img src="https://kolayik.com/wp-content/uploads/2020/02/10.svg" alt="" ?="">

                </div>

                <div>


                    <h4 class="ek yj go kk wm xb">Her şeyi dinamik olarak raporlayın</h4>
                    <p>Kolay İK'da tutulan her veriyi dilediğiniz gibi raporlayabilirsiniz. 'Kendin Oluştur' özelliği ile verileri raporlayın, dilediğiniz formatta indirin.</p>

                </div>

            </div>

            <div class="col-md-4">

                <div>

                    <img src="https://kolayik.com/wp-content/uploads/2020/09/performans-cizelgesi2.svg" alt="" ?="">

                </div>

                <div>

                    <h4 class="ek yj go kk wm xb">360 derece değerlendirme</h4>
                    <p>Çalışanın astı, üstü, eş değeri/ekip arkadaşı gibi etkileşim içerisinde olduğu kişilerle 360 derece performans değerlendirme yapın.</p>

                </div>

            </div>
            <div class="col-md-4">

                <div>

                    <img src="https://kolayik.com/wp-content/uploads/2020/03/kolay-ik-rapor-olusturuluyor.svg" alt="" ?="">

                </div>

                <div>

                    <h4 class="ek yj go kk wm xb">Detaylı Raporlandırma</h4>
                    <p>Tüm değerlendirme sonuçlarına tek tık ile ulaşın, her şeyi detaylı olarak raporlayın. Raporları ihtiyacınız olan formatta indirin.</p>

                </div>

            </div>
        </div>

    </div>

    
</section>
<br />
<br />



<section class="ji gp uq align-content-center" id="items">

    <div class="bb ye ki xn vq jb jo ">
        <h2 class="text-center"><b>Şirketlere Özel Paketlerimiz</b></h2>
        <br />
        <br />
        <br />
        <div class="wc qf pn xo zf iq">
            @foreach (var item in Model.Packages)
            {
                <div class="animate_top sg vk rm xm">

                    <div class="c rc i z-1 pg ">

                        <img class="w-full" src="@item.PhotoName" alt="Blog" />


                        <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">

                            <a asp-action="DetailsPackage" asp-route-id="@item.ID" asp-controller="Home" class="vc ek rg lk gh sl ml il gi hi ">Detaylı Bilgi</a>

                        </div>

                    </div>

                    <div class="yh ">

                        <div class="tc uf wf ag jq ">

                            <div class="w-100">

                                <p class="text-center"><b>@item.PackageName.ToUpper()</b></p>

                            </div>

                            <div class="tc wf ag w-100">

                                <img src="~/images/icon-man.svg" alt="User" />

                                <b>Kullanıcı Sayısı:</b> @item.NumberOfUsers

                            </div>
                            <div class="tc wf ag w-100">

                                <img src="~/images/icon-calender.svg" alt="Calender" />

                                <b>Tarih:</b> @item.StartDate.Date.ToString("dd/MM/yyyy") - @item.EndDate.Date.ToString("dd/MM/yyyy")

                            </div>

                            <div class="tc wf ag w-100">

                                <img class="img-fluid" src="~/images/moneyy.jpg" />
                                <b>Fiyat:</b> @item.Price @item.PriceUnit

                            </div>

                        </div>
                        <br />
                        <div>

                            <button class="lk gh dk rg tc wf xf _l gi hi btn btn-info" style="border-radius:40px;width:100%;">Satın Al</button>

                        </div>
                        <h4 class="ek tj ml il kk wm xl eq lb">

                            <a href="blog-single.html"></a>

                        </h4>

                    </div>

                </div>
            }

        </div>

    </div>

</section>





