@model Human_Resources_Management.ENTITIES.Entities.Person


@{ Layout = "_LayoutManager"; }



<div class="content-wrapper">
   
    <div class="row flex-column align-items-center">
        <div class="card mb-5" style="max-width: 900px; background-color: #e4d8da ">
            <div class="row g-0 align-items-center">
                <div class="col-md-4 mx-auto">
                    <div class="">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" style="width:80%;height:80%; " src="@Html.DisplayFor(modelItem =>Model.PhotoName)" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Ad Soyad: </b>@Html.DisplayFor(modelItem => Model.FirstName)
                            @Html.DisplayFor(modelItem => Model.LastName)
  
                        </p>
                        <p class="card-text">
                            <b>Departman: </b>@Html.DisplayFor(modelItem => Model.DepartmansEnum)
                        </p>
                        <p class="card-text">
                            <b>Adres: </b>@Html.DisplayFor(modelItem => Model.Address)
                        </p>
                        <p class="card-text">
                            <b>Mail: </b>@Html.DisplayFor(modelItem => Model.Mail)
                        </p>
                        <p class="card-text">
                            <b>Telefon Numarası(Kişisel/Şirket): </b>@Html.DisplayFor(modelItem => Model.PersonelPhoneNumber) / @Html.DisplayFor(modelItem => Model.CompanyPhoneNumber)
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        <a class="btn" style="display: block; color: white; background-color: #478ba2; border-radius: 40px; width: 200px;" asp-controller="Employee" asp-action="UpdatePersonel" asp-route-id="@Context.User.FindFirst("ID").Value.ToString()"> Güncelle</a>
                        <br />
                        <a class="btn" style="display: block; color: white; background-color: #478ba2; border-radius: 40px; width: 200px;" asp-controller="Employee" asp-action="Details" asp-route-id="@Context.User.FindFirst("ID").Value.ToString()"> Detay Göster</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-action="CreateSpending" asp-route-id="@Context.User.FindFirst("ID").Value.ToString()">Harcama Bildir</a>
</div>

<div>
    <a asp-action="SpendingList" asp-route-id="@Context.User.FindFirst("ID").Value.ToString()">Harcama Listesi</a>
</div>
<div>
    <a asp-action="CreateAdvancePayment" asp-route-id="@Context.User.FindFirst("ID").Value.ToString()">Avans oluştur</a>
</div>

<div>
    <a asp-action="UpdateSpending">Harcama Güncelle</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block" style="background-color: #e4d8da">Copyright © 2022 I Am Here Human Resources Managament</span>
    </div>
</footer>






